
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // !! VERY INSECURE - FOR DIAGNOSIS ONLY !!
    // This rule allows anyone to read or write anything to your bucket.
    // This is to confirm if the core connection to Storage is working at all.
    // We will replace this with a secure rule once the diagnosis is complete.
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
